<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div id="app">
            <select v-model="value">
                <option v-for=" v in opts" :value="v.value">{{ v.text }}</option>
            </select>
            <input type="text" v-model="value">
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    opts: [
                            {text: 'egg', value: 1},
                            {text: 'noodle', value: 2},
                            {text: 'pie', value: 3},
                        ],
                    value: 3
                }
            });
        </script>
    </body>
</html>